form {
    margin-top: 25px;
}

input[type=text],
input[type=tel],
input[type=password],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font: 13.3333px Verdana;
}

input[type=submit] {
    background-color: #f8e8b4;
    color: #31261b;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=submit]:hover {
    background-color: #e8aa7d;
}

.obligatoriu {
    color: red;
}

#mesaj {
    height: 200px;
}

#contact {
    margin-bottom: 15px;
}

input[type=range],
select {
    margin: 6px 16px 15px 10px;
}

input[type=radio] {
    margin: 6px 5px 15px 10px;
}

input[type=checkbox],
#checkLabel {
    margin: 3px;
    margin-top: 20px;
    font-size: 0.9em;
    transform: scale(0.9);
}

label {
    margin: 10px 0;
}

#passOverlay {
    position: relative;
    display: block;
    padding: 10px;
    margin: 5px 10px;
    width: 50%;
    display: none;
    background-color: #fafafa;
}

#passOverlay ul {
    padding-left: 15px;
    margin: 5px;
}

input[type=password]:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background-color: #fafafa;
}

.redirectAcc {
    cursor: pointer;
    font-weight: bold;
}